<%= link_to users_path do %>
<%= render partial: "user", locals: { user: User.find(params[:id]) } %>
<% end %>
<section class="card m-3">
  <div class="card-body">
    <h5 class="card-title">Bio</h5>
    <p class="card-text"><%= @user.bio %></p>
  </div>
</section>

<div class="d-flex ms-3 me-3">
    <%= link_to "Add New Post", new_user_post_path(@user), class: "col btn border-secondary-subtle"%>
</div>

<ul>
  <% @user.three_most_recent_posts.each_with_index do |post , i| %>
    <li>
      <%= link_to user_post_path(params[:id].to_i, post.id) do %>
      <%= render partial: "post", locals: { post: post, i: i } %>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="text-center m-3 mb-4">
<%= link_to "See all posts", user_posts_path(@user), class: "btn border-secondary-subtle p-2"%>
</div>
