<%= link_to user_path(params[:user_id]) do %>
<%= render partial: "users/user", locals: { user: User.find(params[:user_id]) } %>
<% end %>
<ul>
  <% @posts.each_with_index do |post , i| %>
    <% if post.author_id == params[:user_id].to_i %>
      <li>
        <%= link_to user_post_path(params[:user_id].to_i, post.id) do %>
          <%= render partial: "users/post", locals: { post: post, i: i } %>
          <% if post.last_five_comments.present? %>
            <%= render partial: "posts/comment", locals: { comments: post.last_five_comments } %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="text-center mb-4">
  <div class="d-flex justify-content-center p-2">
    <%= paginate @posts %>
  </div>
</div>
