<%= link_to user_posts_path(params[:user_id]) do %>
  <article class="card mt-3 ms-3 me-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title"><%= @post.title %> by <%= @post.author.name %></h5>
        <p class="card-text text-end">
          <small class="text-body-secondary">
            Comments: <%= @post.comments_counter %>,
            Likes: <%= @post.likes_counter %>
          </small>
        </p>
      </div>
      <p class="card-text"><%= @post.text %></p>
    </div>
  </article>
<% end %>

<section class="like m-3">
  <% like_id = User.find(params[:user_id]).likes.find_by(post_id: params[:id]) %>
  <% if like_id === nil %>
    <div class="like-btn-form">
      <%= form_with model: @like, url: "/users/#{params[:user_id]}/posts/#{params[:id]}", method: :post do |form| %>
        <%= form.submit "Like", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <div class="dislike-btn-form">
      <%= form_with model: @like, url: "/users/#{params[:user_id]}/posts/#{params[:id]}/#{like_id.id}", method: :delete do |form| %>
        <%= form.submit "Dislike", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</section>

<section>
  <% if @post.comments.present? %>
    <%= render partial: "comment", locals: { comments: @post.comments } %>
  <% end %>
</section>
